!!!
%html
  %head
    %object#plugin0{:height => "0", :type => "application/x-emotivlifesciencesbtle", :width => "0"}
      %param{:name => "onload", :value => "pluginLoaded"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Braim Browser'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Braim Browser'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application' #, "data-turbolinks-track" => true
    = controller_assets
    = csrf_meta_tags
  %body
    #wrapper
      / Sidebar
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.sidebar-brand
            %a{:href => "#"}
              Start Bootstrap
          %li
            =link_to "My Profile", profile_path
          %li
            =link_to "Braim Test", test_path
          %li
            =link_to "Search Music", songs_search_path
          %li
            =link_to "Discover Music", discover_path
          %li
            =link_to "Personalized Recommendations", recommendations_path
          %li
            =link_to "Headset", headset_path
          %li
            =link_to "Performance Metrics", performance_path
          %li
            =link_to "Log out", destroy_user_session_path, method: :delete
      / /#sidebar-wrapper
      / Page Content
      #page-content-wrapper
        .container-fluid
          %header
            = render 'layouts/navigation'
          %main{:role => "main"}
            = render 'layouts/messages'
            = yield
            .bg_load
              .wrapper
              / .inner
              /   %span L
              /   %span o
              /   %span a
              /   %span d
              /   %span i
              /   %span n
              /   %span g
